/*!----------------------------------PAGES------------- INDEX----------------------------------------*/
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: none;
}

a {
    text-decoration: none;
    font-family: Helvetica;

}

/**-----------HEADER------------------*/
body {
    background-image: url(../img/fondo.jpg);
    background-color: #7A9FBF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


h1 a {
    color: #F24484;
    font-size: 160px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 35px #195488;
    transition: 0.5s;
    align-self: center;
}

h1 a:hover {
    color: aquamarine;
    font-size: 163px;
    text-shadow: 0px 0px 35px #F24484;
}

h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 60px;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: rgba(245, 216, 163, 0.336);
    font-weight: bold;
    ;
}

p {
    font-size: 24px;
    font-family: Helvetica;
    text-align: justify;
}


#hero {
    background-color: #7a9fbf7a;
    -ms-flex-align: start;
}

/**----------------------NAV----------------*/


.encabezado {
    flex-flow: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.menu div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin: 2px;
    font-weight: bold;
}

.menu div ul li {
    display: inline-block;
}

.menu a {
    color: rgb(255, 225, 182);
    text-align: center;
    font-size: 25px;
    padding: 15px 18px;
    text-decoration: none;
    text-shadow: 5px 5px 5px rgba(101, 255, 12, 0.644)
}

.menu a:hover {
    background-color: #c3ff3847;
    color: #ff1da4;
    text-decoration-line: overline;
    transition: 1s;
    border-radius: 5px;
}

/**-------------MAIN------------*/

.main-section-div {
    display: flex;
    align-items: column;
    justify-content: space-around;
}

.contenido-section {
    display: flex;
    align-items: column;
    justify-content: space-evenly;


}

.spotify div {
    display: flex;
}

.contenido-margen-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 35px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.contenido-subtitulo {
    padding: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
    font-size: 36px;
    align-content: center;
    width: 100%;
    background-color: transparent;
    font-size: 90px;
    font-family: helvetica;
}

.img-contenido img {
    width: 400px;
    height: 400px;
    box-shadow: -3px 2px 17px 15px rgba(255, 20, 71, 0.226);
}

.contenido-parrafo {
    display: flex;
    background-color: rgb(255 225 182 / 26%);
    padding: 16px;
    text-align: center;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    transition: 2s;
}

.contenido-parrafo:hover {
    background-color: #f2448418;
    transition: 2s;
}


/**--------------------------------FOOTER----------------------------**/
.footer-padding {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #7a9fbf5b;
    width: 100%;
    height: 200px;
    margin: 2px;
    font-weight: bold;

}

#seccion-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-ul li {

    display: block;
    justify-content: space-evenly;
    flex-direction: column;
    border-right: 3px;
    border-color: black;



}

.footer-ul li a {
    color: rgb(255, 225, 182);
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
}

.padding-ext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.menu {
    display: flex;
    align-items: center;
    background-color: rgb(106 210 255 / 33%);
    transition: 2s;
    justify-content: space-around;
}

.menu:hover {
    background-color: rgb(255 141 227 / 19%);
    transition: 2s;
}

.footer-copyright a {
    font-size: 12px;
    font-family: helvetica;
    text-decoration: none;
    color: blanchedalmond !important;
}

.header-contenedor-mayor {
    grid-template-columns: 6;
    grid-template-rows: 1;
}

.carousel-item {
    height: 300px;
    width: 500px;
}

.carousel-item-active {
    height: 300px;
    width: 500px;
}

.margin-carousel {
    margin: 6px
}