/*!----------------------------------PAGES------------- INDEX----------------------------------------*/
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: none;
    font-family: 'Hind', sans-serif;
}

a {
    text-decoration: none;
    font-family: Helvetica;

}

/**-----------HEADER------------------*/
body {

    background-color: #686868;
    background-image: url(../img/fondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/**----------------------NAV----------------*/

.encabezado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}






.menu ul {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.menu ul li {
    display: inline-flex;
    justify-content: center;
    padding: 15px;
    width: 100% auto;
}


/**-------------MAIN------------*/

.main-section-div {
    display: flex;
    align-items: column;
    justify-content: space-around;
}

.contenido-section {
    display: flex;
    align-items: column;
    justify-content: space-evenly;
}

.spotify div {
    display: flex;
}

.contenido-margen-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 35px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.contenido-subtitulo {
    padding: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
    font-size: 36px;
    align-content: center;
    width: 100%;
    background-color: transparent;
    font-size: 90px;
    font-family: helvetica;
}

.img-contenido img {
    width: 400px;
    height: 400px;
    box-shadow: -3px 2px 17px 15px rgba(255, 20, 71, 0.226);
}

.contenido-parrafo:hover {
    background-color: #D97171;
    transition: 2s;
}


/**--------------------------------FOOTER----------------------------**/
.footer-padding {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #7a9fbf5b;
    width: 100%;
    height: 200px;
    margin: 2px;
    font-weight: bold;

}

#seccion-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-ul li {

    display: block;
    justify-content: space-evenly;
    flex-direction: column;
    border-right: 3px;
    border-color: black;



}

.footer-ul li a {
    color: rgb(255, 225, 182);
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
}


.menu {
    display: flex;
    font-weight: bold;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    height: 80px;
}


.menu:hover {
    background-color: #f2acbf42;
    transition: 2s;
}

.footer-copyright a {
    font-size: 12px;
    font-family: helvetica;
    text-decoration: none;
    color: blanchedalmond !important;
}

.header-contenedor-mayor {
    grid-template-columns: 6;
    grid-template-rows: 1;
}

.carousel-item {
    height: 300px;
    width: 500px;
}

.carousel-item-active {
    height: 300px;
    width: 500px;
}

.margin-carousel {
    margin: 6px
}

.main-section-div {
    padding: 5px;
    margin: 5px;
}

.parrafo-inicio-slider {
    font-size: 35px;

}

.menu ul li a {
    background-color: #F23078;
    font-family: 'hind';
    font-size: 24px;
    text-align: center;
    color: #62D973;
    transition: 1s;
    border-radius: 5px;
    border: 2px solid;
    border-color: #c8ff00;
    padding: 10px;
}

.menu ul li a:hover {
    background-color: #F23078;
    color: #F2E96D;
    text-decoration-line: overline;
    transition: 1s;
    border-radius: 5px;
}


@media (min-width: 768px) {
    .titulo-principal {
        color: #09a8ea;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 160px;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 0 #c8ff00, 2px -2px 0 #c8ff00, -2px 2px 0 #c8ff00, -2px -2px 0 #c8ff00, 2px 0px 0 #c8ff00, 0px 2px 0 #c8ff00, -2px 0px 0 #c8ff00, 0px -2px 0 #c8ff00;
        transition: 0.5s;
        /* align-self: center; */
    }
}

@media (min-width:992px) {
    .titulo-principal:hover {
        color: #F23078;
        font-size: 163px;
        text-shadow: 0px 0px 35px #F2E96D;
    }
}

@media (min-width:600px) and (max-width:992px) {
    .titulo-principal {
        color: #09a8ea;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 85px;
        text-align: center;
        text-shadow: 2px 2px 0 #c8ff00, 2px -2px 0 #c8ff00, -2px 2px 0 #c8ff00, -2px -2px 0 #c8ff00, 2px 0px 0 #c8ff00, 0px 2px 0 #c8ff00, -2px 0px 0 #c8ff00, 0px -2px 0 #c8ff00;
        transition: 0.5s;
        align-self: center;
    }
}

@media (max-width:600px) {
    .titulo-principal {
        color: #09a8ea;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 75px;
        text-align: center;
        text-shadow: 2px 2px 0 #c8ff00, 2px -2px 0 #c8ff00, -2px 2px 0 #c8ff00, -2px -2px 0 #c8ff00, 2px 0px 0 #c8ff00, 0px 2px 0 #c8ff00, -2px 0px 0 #c8ff00, 0px -2px 0 #c8ff00;
        transition: 0.5s;
        align-self: center;
    }
}

@media(max-width:768px) {
    .titulo-principal:hover {
        color: #F23078;
        font-size: 85px;
        text-shadow: 0px 0px 35px #F2E96D;
    }
}

@media (max-width: 767px) {
    .parrafo-primero {
        display: none;
    }
}

@media (min-width: 767px) {
    .parrafo-primero {
        font-size: 34px;
    }
}

@media (max-width: 900px) {
    .parrafo-inicio-slider {
        font-size: 24px;
        text-align: justify;
    }
}

@media (max-width: 767px) {
    .main-section-div {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }
}



@media (min-width:768px) {
    .contenido-parrafo {
        display: flex;
        background-color: #f2ceae2e;
        padding: 16px;
        text-align: center;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        transition: 2s;
        border: 2px solid #c8ff00;
        border-radius: 7px;
        text-align: justify;
        max-height: 500px;
        word-wrap: fit-content;

    }
}

.color-palabras {
    color: #c8ff00;
    text-shadow: 1px 1px 2px #492C73;

}



@media (max-width:450px) {
    .titulo-principal {
        display: none
    }
}

@media (min-width:450px) {
    .titulo-principal-colapsed {
        display: none
    }
}

.titulo-principal-colapsed {
    color: #09a8ea;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 85px;
    text-align: center;
    text-shadow: 2px 2px 0 #c8ff00, 2px -2px 0 #c8ff00, -2px 2px 0 #c8ff00, -2px -2px 0 #c8ff00, 2px 0px 0 #c8ff00, 0px 2px 0 #c8ff00, -2px 0px 0 #c8ff00, 0px -2px 0 #c8ff00;
    transition: 0.5s;
    align-self: center;
}

.titulo-principal-colapsed::selection {
    color: #F23078;
        font-size: 85px;
        text-shadow: 0px 0px 35px #F2E96D;
}
/* !PAGINA VISUAL */



@media (min-width:900px) {
    .contenedor-grilla {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
    }
}

@media (max-width:900px) {
    .contenedor-grilla {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
    }
}

@media (max-width:412px) {
    .titulo-principal {
        visibility: hidden;

    }
}

@media (max-width:412px) {
    .carousel-item {
        width: 300px;
    }
}


@media (min-width:900px) {
    .imagen-grilla {
        margin: 10px;
        border-radius: 5px;
        border: 3px solid #c8ff00;
        width: 400px;
        height: 400px;
        overflow: hidden;
        position: relative;
        align-items: baseline;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: row;
        transition:0.5s ease-in-out
    }
}
@media (max-width:900px) {
    .imagen-grilla {
        margin: 10px;
        border-radius: 5px;
        border: 3px solid #c8ff00;
        width: 250px;
        height: 250px;
        overflow: hidden;
        position: relative;
        align-items: baseline;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: row;
        transition:0.5s ease-in-out
    }
    }


.imagen-grilla > img {
 position:absolute;
 width: 400px;
 height:400px;

 }

@media all and (min-width: 350px) and (max-width: 700px) {
    .imagen-grilla {
        margin: 10px;
        border-radius: 5px;
        border: 3px solid #c8ff00;
        width: 200px;
        height: 200px;
        overflow: hidden;
        position: relative;
        align-items: baseline;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: row;
        transition:0.5s ease-in-out

    }
}


@media (min-width:1000px) {
    .item-grilla {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(3, 33%);
        row-gap: 20px;
        column-gap: 20px;
        grid-auto-flow: dense;
    }
}

@media (min-width:800px) and (max-width:1000px) {
    .item-grilla {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(6, auto);
        row-gap: 5px;
        column-gap: 5px;
        grid-auto-flow:row;
    }
}
@media (min-width:350px) and (max-width:800px) {
    .item-grilla {
        display: grid;
        grid-template-columns: 1, auto;
        grid-template-rows: repeat(9, auto);
        row-gap: 5px;
        column-gap: 5px;
        grid-auto-flow:row;
        

    }
}

.contenedor-grilla {
    display: flex;
    align-items: stretch;
    padding-left: 100px;
    flex-wrap: wrap;
    justify-content: center;
}


@media (min-width:350px) and (max-width:900px) {
.contenedor-grilla{
    display: flex;
    align-items:center;
    padding-left: 30px;
    flex-wrap: wrap;
    justify-content: center;
}}

.nav-link {
    background-color: #ff005f14;
    font-family: 'hind' !important;
    font-size: 34px;
    text-align: center;
    color: #c8ff00 !important;
    transition: 1s;
    border-radius: 5px;
    border: 2px solid;
    border-color: #c8ff00;
    padding: 10px;
    margin: 15px;
}

.nav-link:hover {
    background-color: #b7002e;
    color: #c8ff00 !important;
    text-decoration-line: overline;
    transition: 1s;
    border-radius: 5px;
}

@media (max-width: 992px) {
    .nav-link {
        font-size: 24px !important;
        background-color: transparent;
        color: #000000 !important;
    }
}

.navbar-light .navbar-toggler {
    color: #c8ff00 !important;
    border: solid 1px !important;
}


.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(200, 255, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}





.imagen-grilla:hover {
    transform:scale(1.8);
    transition:0.5s ease-in-out;
    z-index: 5;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
