@import "../base/variables";
/*--------------FOOTER--------------*/

footer{
    margin-top:30px;
    position: sticky;
    bottom: 0;
    margin-bottom:40px;
    width: 100%;

    #seccion-footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .footer-padding {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            background-color: #3f53645b;
            width: 100%;
            height: 200px;
            margin: 2px;
            font-weight: bold;

            .footer-ul {

                li{
                    display: inline-flex;
                    justify-content: space-evenly;
                    flex-direction: row;
                    padding: 10px;
                    margin-top: 20px;
                    a{
                        color: $color-titulo;
                        text-shadow: $neon;
                        font-size: 22px;
                        padding: 10px;
                        text-decoration: none;
                        &:hover { color: $color-texto}

                    }
                }
            }

            .footer-copyright{
                margin-bottom: 30px;
                padding: 10px;
                align-self: end;
                font-size: 18px;
                color: $color-texto;
                a {
                    font-size: 18px;
                    font-family: helvetica;
                    text-decoration: none;
                    color: rgb(253, 253, 253) !important;
                }
            }
        }
    }
}