@import "../base/variables";
/*--------------FOOTER--------------*/

footer {
    margin-top: 1vh;
    position: bottom;
    bottom: 0;
    margin-bottom: 1vh;
    width: 100%;

    #seccion-footer {
        display: flex;


        .footer-padding {
            display: flex;
            justify-content: center;
            flex-direction: row;
            background-color: #3f53645b;
            width: 100%;
            height: 200px;
            margin: 2px;
            font-weight: bold;
            flex-wrap: wrap;

            .footer-ul {

                li {
                    display: inline-flex;
                    justify-content: space-evenly;
                    flex-direction: row;
                    padding: 10px;
                    margin-top: 20px;

                    a {
                        color: $color-titulo;
                        text-shadow: $neon;
                        font-size: 1rem;
                        padding: 10px;
                        text-decoration: none;

                        &:hover {
                            color: $color-texto
                        }

                    }
                }
            }

            .footer-copyright {
                margin-bottom: 30px;
                padding: 10px;
                align-self: end;
                font-size: 1rem;
                color: $color-texto;

                a {
                    font-size: 0.8rem;
                    font-family: helvetica;
                    text-decoration: none;
                    color: rgb(253, 253, 253) !important;
                }
            }
        }
    }
}